<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Skin Types:</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% types.forEach(function(t) { %>
      <tr>
        <td><%= t.skinType %></td>
        <td><%= t.description %></td>
        <td><a href="/products/<%= t._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>